@charset "utf-8";
body {
    background-color: #AEBCC1;
    max-width: 430px;
    overflow-x: hidden;
    font-family: 'SUIT';
    
    position: relative;
}

/* colors
#1E2426
#374549
#AEBCC1
*/


/***** index-main *****/
.index-main {
    background-color: #AEBCC1;
}

.index-main .main-wrapper {
    width: 100%;
    position: relative;

}

.index-main .main-wrapper img:nth-child(2) {
    width: 180px;
    position: absolute;
    top: 300px;
    left: 50px;

    transition: 
}

.index-main .main-title {
    position: absolute;
    top: 598px;
}
.index-main .main-title h1 {
    margin-bottom: 15px;
    padding-left: 25px;
    padding-top: 13px;

    font-size: 25px;
    font-weight: 800;
    background-color: #fff;
    width: 340px;
    height: 55px;
}

.index-main .bg {
    margin-left: 20px;
    background-color: #1E2426
}

/*** main-list ***/
/* 실식간 화제작 */
.index-main .main-list {
    padding: 90px 0 0 20px;
}
.index-main .main-list h1 {
    font-size: 25px;
    font-weight: 500;
    color: #fff;
}
.index-main .main-list .webtoon-list {
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.index-main .main-list .webtoon-list img {
    margin-right: 10px;
}

.index-main .main-list .webtoon-list :first-child {
    background-color: #AEBCC1;
    padding: 5px;
    border-radius: 10px;
}

.index-main .main-list .list-poster {
    display: flex;
    margin: 30px 0;
}

.index-main .main-list .list-poster .poster {
    width: 100%;
    margin-right: 20px;
}
.index-main .main-list .list-poster .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.index-main .main-list .list-poster .title h2 {
    color: #fff;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
}
.index-main .main-list .list-poster .title p {
    color: #AEBCC1;
    margin-top: 2px;
    font-size: 12px;
    font-family: 'Montserrat';
}
.index-main .main-list .list-poster .tag {
    margin-bottom: 130px;
    display: flex;
    flex-wrap: wrap;
}
.index-main .main-list .list-poster .tag p {
    /* width: 100%; */
    margin-top: 10px;
    font-size: 12px;

    color: #fff;
    background-color: #374549;
    padding: 7px 12px;
    border-radius: 20px;
}

/***** index-main2 *****/
/* 취향만 모아모아 */
.index-main2 .bg {
    background-color: #1E2426;
    padding-top: 65px;
    margin-left: 20px;
}

.index-main2 .main-title h1 {
    width: 340px;
    height: 55px;

    padding-left: 25px;
    padding-top: 13px;
    font-size: 25px;
    font-weight: 800;
    background-color: #fff;
}

/* 마루강쥐 ~ */
.index-main2 .main-list {
    width: 225px;
    padding-left: 20px;
    padding-bottom: 130px;

    position: relative;
    display: flex;
}
.index-main2 .main-list .poster {
    margin-right: 10px;
}
.index-main2 .main-list .poster .poster-inner p {
    width: 55px;
    height: 25px;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    padding: 5px;

    background-color: #000;
    color: yellow;
    border-radius: 0 0 0 10px;

    position: absolute;
    top: 200px;
}
.index-main2 .main-list .tag {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
}
.index-main2 .main-list .tag p {
    margin-top: 5px;
    font-size: 12px;

    color: #fff;
    background-color: #374549;
    padding: 7px 10px;
    border-radius: 20px;
}

/***** index-6flavor *****/
.index-flavor .flavor-title {
    width: 340px;
    height: 55px;

    padding-left: 25px;
    padding-top: 13px;
    font-size: 25px;
    font-weight: 800;
    background-color: #fff;
}

/*** fear ***/
.index-flavor .flavor1 .content-wrapper {
    background: url(./assets/images/home/flavor/fear.png) no-repeat 140% / contain;
    background-color: #000;
    margin-left: 20px;
    padding-left: 35px;
    padding-top: 50px;
}
.index-flavor .flavor1 .content-wrapper .content-inner .txt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.index-flavor .flavor1 .content-wrapper .content-inner .txt h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}
.index-flavor .flavor1 .content-wrapper .content-inner .txt .button {
    width: 40px; height: 40px;
    margin-right: 20px;
    text-align: center;
    font-size: 45px;
    font-weight: 100;
    line-height: 0.9;
    border-radius: 50%;
    border: #ddd 1px solid;
    background-color: #1E2426;
}
.index-flavor .flavor1 .content-wrapper .content-inner p {
    margin-top: 45px;
    color: #54FC4F;

    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
}
.index-flavor .flavor1 .content-wrapper .content-theme h2 {
    margin-top: 155px;
    padding-bottom: 40px;
    color: #54FC4F;
    font-size: 60px;
    font-family: 'NetworkFreeVersion';
}
.index-flavor .flavor1 .slide-photo {
    padding-bottom: 30px;
    margin-left: 20px;
    background-color: #000;

    display: flex;
}
.index-flavor .flavor1 .slide-photo img {
    margin-right: 10px;
}

/*** touching ***/
.index-flavor .flavor2 .content-wrapper {
    background: url(./assets/images/home/flavor/touching.png) no-repeat 10% 100% / cover;
    background-color: #EAE8CE;
    margin-left: 20px;
    padding-left: 35px;
    padding-top: 50px;
}
.index-flavor .flavor2 .content-wrapper .content-inner .txt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.index-flavor .flavor2 .content-wrapper .content-inner .txt h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}
.index-flavor .flavor2 .content-wrapper .content-inner .txt .button {
    width: 40px; height: 40px;
    margin-right: 20px;
    text-align: center;
    font-size: 45px;
    font-weight: 100;
    line-height: 0.9;
    border-radius: 50%;
    border: #ddd 1px solid;
    background-color: #1E2426;
}
.index-flavor .flavor2 .content-wrapper .content-inner p {
    margin-top: 45px;
    color: #ED8ECD;

    font-size: 18px;
    font-weight: 600;
    line-height: 1.4;
}
.index-flavor .flavor2 .content-wrapper .content-theme h2 {
    margin-top: 155px;
    padding-bottom: 40px;
    color: #ED8ECD;
    font-size: 60px;
    font-family: 'NetworkFreeVersion';
}
.index-flavor .flavor2 .slide-photo {
    padding-bottom: 30px;
    margin-left: 20px;
    background-color: #EAE8CE;

    display: flex;
}
.index-flavor .flavor2 .slide-photo img {
    margin-right: 10px;
}