@charset "utf-8";

/***** header *****/
.index-header {
    width: 100%;
    margin: 30px 20px;
    display: flex;
    align-items: center;

    position: absolute;
    left: 320px;
    z-index: 99999;
}
.index-header img:nth-of-type(2) { 
    padding-left: 15px;
    align-items: center;
}

/* 하단 tab 영역 */